<!--
  Generated template for the ParkDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar color="primary">
		<ion-title>{{parkInfo.name}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<img src="assets/img/headers/{{parkInfo.image}}">
	<h1 padding>{{parkInfo.name}}</h1>
	<ion-card>
		<ion-card-header>
			Park Details
		</ion-card-header>
		<ion-card-content>
			{{parkInfo.data}}
		</ion-card-content>
	</ion-card>
</ion-content>