page-weather {
	ion-content{
		background: url(../assets/imgs/bg.jpg) no-repeat center center fixed;
		background-color: rgba(255, 255, 255, 0) !important;
		-webkit-background-size: cover;
		background-size: cover;
	}

	ion-content{
		background: url(../assets/imgs/bg.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		background-size: cover;
		font-size: 24px;
	}

	ion-col, ion-col h1, ion-col p {
		color: #fff;
		text-align: center;
		text-shadow: 3px 3px 3px rgba(0,0, 0, 0.4);
	}

	h1 {
		font-size: 72px;
	}
	
	p {
		font-size: 36px;
		margin-top: 0;
	}

	.refresher-pulling-text, .refresher-refreshing-text {
		color:#fff;
	}

	.refresher-refreshing .spinner-circles circle{
		fill:#fff;
	}

	.has-refresher > .scroll-content {
		border-width: 0;
	}
}
