<ion-header>
  <ion-navbar>
    <ion-title>
      Tasks
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="addItem()">
        <ion-icon name="add"></ion-icon>Add Item
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let task of tasks | async" (ionSwipe)="removeTask(slidingItem, task)">
      <ion-item [ngClass]="{taskDone: task.status == 'done'}" >
        {{task.title}}
      </ion-item>
      <ion-item-options side="right" (ionSwipe)="removeTask(slidingItem, task)">
        <button ion-button icon-only (click)="markAsDone(slidingItem, task)" color="secondary">
          <ion-icon name="checkmark"></ion-icon>
        </button>
        <button ion-button icon-only (click)="removeTask(slidingItem, task)" expandable color="danger">
            <ion-icon name="trash"></ion-icon>
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
