<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Ionic Weather</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon>{{p.title}}
      </button>
    </ion-list>
    <p><a href="https://darksky.net/poweredby/">Powered by Dark Sky</a></p>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>